@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="center-block">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button class="btn dnc-btn-success" @onclick="ShowSuccess">Show success message</button>
                    <button class="btn dnc-btn-error" @onclick="ShowError">Show error message</button>
                    <button class="btn dnc-btn-warning" @onclick="ShowWarning">Show warning message</button>
                    <button class="btn dnc-btn-info" @onclick="ShowInfo">Show info message</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public DncWrapper DncWrapper { get; set; }

    public void ShowSuccess()
    {
        // DncWrapper.ShowSuccessMessage("This is Success Message", TimeSpan.FromSeconds(5)); 
        DncWrapper.ShowSuccessMessage("This is Success Message");
    }
    public void ShowError()
    {
        // DncWrapper.ShowErrorMessage("This is Error Message", TimeSpan.FromSeconds(5));
        DncWrapper.ShowErrorMessage("This is Error Message");
    }
    public void ShowWarning()
    {
        // DncWrapper.ShowWarningMessage("This is Warning Message", TimeSpan.FromSeconds(5));
        DncWrapper.ShowWarningMessage("This is Warning Message");
    }
    public void ShowInfo()
    {
        // DncWrapper.ShowInfoMessage("This is Info Message", TimeSpan.FromSeconds(5));
        DncWrapper.ShowInfoMessage("This is Info Message");
    }
}

<style>
    .center-block {
        display: block;
        margin: 1rem auto;
        text-align: center;
    }

    body {
        margin: 1rem auto;
        background: #eee;
    }

    .btn{
        margin-top:1rem;
        margin-bottom: 1rem;
        color:#fff;
    }


    .btn-group-vertical {
        padding:1rem;
        margin-top: 3rem;
        border-radius: 0.375rem;
        background: #fff;
    }

    .btn-group-vertical > .btn {
        border-radius: 0.375rem !important;
    }


    .dnc-btn-success {
        background-color: #0f8c98;
        border-color: #0f8c98;
    }

    .dnc-btn-success:hover {
        color:#fff;
        background-color: #0f8c98;
        border-color: #0f8c98;
    }

    .dnc-btn-error {
        background-color: #b82828;
        border-color: #b82828;
    }

    .dnc-btn-error:hover {
        color:#fff;
        background-color: #b82828;
        border-color: #b82828;
    }

    .dnc-btn-warning {
        background-color: #e65f26;
        border-color: #e65f26;
    }

    .dnc-btn-warning:hover {
        color:#fff;
        background-color: #e65f26;
        border-color: #e65f26;
    }

    .dnc-btn-info {
        background-color: #0dcaf0;
        border-color: #5dd6f0;
    }

    .dnc-btn-info:hover {
        color:#fff;
        background-color: #0dcaf0;
        border-color: #5dd6f0;
    }
</style>