/*#dnc-toast {
    position: sticky;
    top: 0px;
    z-index: 1;
    max-height: 0;
    opacity: 0;
    transition: max-height ease-in-out 0.75s;
    transition: opacity linear 0.1s;
    padding-top: 0px;
}*/

#dnc-toast {
    max-height: 15rem;
    opacity: 0.9; 
    padding-top:1rem;
}

.dnc-toast {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color:#fff;
/*    test */
    top: 0px;
    z-index: 1;
    transition: max-height ease-in-out 0.75s;
    transition: opacity linear 0.1s;
}

.dnc-toast-success {
    background-color: #0f8c98;
    border-color: #0f8c98;
}

.dnc-toast-error {
    background-color: #b82828;
    border-color: #b82828;
}

.dnc-toast-warning {
    background-color: #e65f26;
    border-color: #e65f26;
}

.dnc-toast-info {
/*    background-color: #47d4f3;
*/    background-color: #0dcaf0;
    border-color: #5dd6f0;
}

.dnc-toast-close {
    color: #fff;
}